@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'caviar-dreams';
    font-style: normal;
    font-weight: 400;
    src: local('caviar-dreams'),
    url('./assets/fonts/caviar-dreams.woff') format('woff');
}

@font-face {
    font-family: 'caviar-dreams-bold';
    font-style: normal;
    font-weight: 700;
    src: local('caviar-dreams-bold'),
    url('./assets/fonts/caviar-dreams-bold.woff') format('woff');
}

@font-face {
    font-family: 'campton-light';
    font-style: normal;
    font-weight: 400;
    src: local('campton-light'),
    url('./assets/fonts/campton-light.woff') format('woff');
}

@font-face {
    font-family: 'campton-thin';
    font-style: normal;
    font-weight: 400;
    src: local('campton-thin'),
    url('./assets/fonts/campton-thin.woff') format('woff');
}

@layer components {
    .subheading {
        @apply font-subheading text-brand text-xs leading-relaxed tracking-[0.5em] uppercase md:text-sm;
    }

    .heading {
        @apply font-heading text-4xl text-heading uppercase lg:text-5xl;
    }

    .font-subheading {
        @apply text-4xl uppercase lg:text-5xl;
    }

    .font-heading {
        @apply text-4xl uppercase lg:text-5xl;
    }
}

body {
    background-color: #ebebeb;
}

p {
    color: #aaa;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}
.router-link-active {
    color: #a57c52;
}


html {
    scroll-behavior: smooth; /* set scroll-behaviour to smooth here */
}

.vue-tel-input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #bbb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.vue-tel-input.disabled .selection,
.vue-tel-input.disabled .dropdown,
.vue-tel-input.disabled input {
    cursor: no-drop;
}

.vue-tel-input:focus-within {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-color: #D1D5DB;
}

.vti__dropdown {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    padding: 7px;
    cursor: pointer;
}

.vti__dropdown.show {
    max-height: 300px;
    overflow: scroll;
}

.vti__dropdown.open {
    background-color: #f3f3f3;
}

.vti__dropdown.disabled {
    cursor: no-drop;
    outline: none;
    background-color: #f3f3f3;
}

.vti__dropdown:hover {
    background-color: #f3f3f3;
}

.vti__selection {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.vti__selection .vti__country-code {
    color: #666;
}

.vti__flag {
    margin-right: 5px;
    margin-left: 5px;
}

.vti__dropdown-list {
    z-index: 1;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    left: -1px;
    background-color: #fff;
    border: 1px solid #bbb;
    width: 390px;
}

.vti__dropdown-list.below {
    top: 33px;
}

.vti__dropdown-list.above {
    top: auto;
    bottom: 100%;
}

.vti__dropdown-arrow {
    transform: scaleY(0.5);
    display: inline-block;
    color: #666;
}

.vti__dropdown-item {
    cursor: pointer;
    padding: 4px 15px;
}

.vti__dropdown-item.highlighted {
    background-color: #f3f3f3;
}

.vti__dropdown-item.last-preferred {
    border-bottom: 1px solid #cacaca;
}

.vti__dropdown-item .vti__flag {
    display: inline-block;
    margin-right: 5px;
}

.vti__input {
    border: none;
    border-radius: 0 2px 2px 0;
    width: 100%;
    outline: none;
    padding-left: 7px;
}


.datepicker {
    --popout-bg-color: #fff;
    --box-shadow: theme('boxShadow.lg');
    --text-color: theme('colors.body.DEFAULT');
    --border-radius: theme('borderRadius.md');
    --heading-size: 2.5em; /* 40px for 16px font */
    --heading-weight: bold;
    --heading-hover-color: #eeeeee;
    --arrow-color: currentColor;
    --elem-color: currentColor;
    --elem-disabled-color: #d5d9e0;
    --elem-hover-color: #fff;
    --elem-hover-bg-color: theme('colors.brand.DEFAULT');
    --elem-selected-color: #fff;
    --elem-selected-bg-color: theme('colors.brand.DEFAULT');
    --elem-current-outline-color: #888;
    --elem-current-font-weight: bold;
    --elem-font-size: 0.8em;
    --elem-border-radius: theme('borderRadius.md');
    position: relative;
    font-family: theme('fontFamily.sans'), sans-serif;
}

.v3dp__clearable {
    display: inline;
    position: relative;
    left: -15px;
    cursor: pointer;
}

:root .popout {
    z-index: 10;
    position: absolute;
    /* bottom: 0; */
    text-align: center;
    width: 17.5em;
    background-color: theme('colors.white');
    box-shadow: theme('boxShadow.lg');
    border-radius: theme('borderRadius.md');
    padding: 8px 0 1em;
    color: theme('colors.body.DEFAULT');
}

:root .v3dp__popout * {
    color: theme('colors.body.DEFAULT');
    font-size: inherit;
    font-weight: inherit;
}

:root .v3dp__popout :deep(button) {
    background: none;
    border: none;
    outline: none;
}

:root .v3dp__popout :deep(button:not(:disabled)) {
    cursor: pointer;
}

:root .v3dp__heading {
    width: 100%;
    display: flex;
    height: var(--heading-size);
    line-height: var(--heading-size);
    font-weight: var(--heading-weight);
}

:root .v3dp__heading__button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--heading-size);
}

button.v3dp__heading__center:hover,
.v3dp__heading__button:not(:disabled):hover {
    background-color: var(--heading-hover-color);
}

.v3dp__heading__center {
    flex: 1;
}

.v3dp__heading__icon {
    height: 12px;
    stroke: var(--arrow-color);
}

.v3dp__heading__button:disabled .v3dp__heading__icon {
    stroke: var(--elem-disabled-color);
}

.v3dp__subheading,
.v3dp__elements {
    display: grid;
    grid-template-columns: var(--popout-column-definition);
    font-size: var(--elem-font-size);
}

.v3dp__subheading {
    margin-top: 1em;
}

.v3dp__divider {
    border: 1px solid theme('colors.body.700');
    border-radius: 8px;
}

.v3dp__elements :deep(button:disabled) {
    color: var(--elem-disabled-color);
}

.v3dp__elements :deep(button) {
    padding: 0.3em 0.6em;
}

.v3dp__elements :deep(button span) {
    display: block;
    line-height: 1.9em;
    height: 1.8em;
    border-radius: var(--elem-border-radius);
}

.v3dp__elements :deep(button:not(:disabled):hover span) {
    background-color: theme('colors.brand.DEFAULT');
    color: var(--elem-hover-color);
}

.v3dp__elements :deep(button.selected span) {
    background-color: theme('colors.brand.DEFAULT');
    color: var(--elem-selected-color);
}

.v3dp__elements :deep(button.current span) {
    font-weight: var(--elem-current-font-weight);
    outline: 1px solid var(--elem-current-outline-color);
}
